.logo {
    width: 360px;
    padding-top: 20px;
}


.logoNavBar {
    width: 260px;
    padding: 8px 0px;
}

.navbar-usrname {
    color: white;
    padding-right: 40px;
}


.copyright-footer {
    color: rgba(255, 255, 255, 0.4);
    background-color: #222327;
}