{% extends './base.html' %}

{% block titulo %} mate.AI - Inicio {% endblock%}

{% block contenido %}
<section class="gradient-custom" style="height: 100vh;">
  <div class="container py-5 gradient-custom">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 0.8rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4">
              <h1>
                {% load static %}
                <img src="{% static './publica/img/logo-mateai.svg' %}" height="80" alt="mate.ai" loading="lazy">
                </a>
              </h1>
            </div>

            <div class="mb-md-5 mt-md-4">
              <h2 class="fw-bold py-2"> Bienvenido! </h2>
              <h5 class="text-white-50 my-3 py-3">Soy Mate-AI, tu compañero de estudio de matemática.</h5>
            </div>

            <div class="mb-md-5 mt-md-4">
              <div class="flex-row d-flex flex-wrap justify-content-between align-items-center">
                <a class="btn btn-outline-light btn-lg px-5 btn-rounded text-uppercase" href="login">Iniciar
                  sesión</a>
                <a class="btn btn-outline-light btn-lg px-5 btn-rounded text-uppercase" href="registrarse">Crear
                  usuario</a>
              </div>
            </div>

            <div>
              <a class="btn btn-outline-light btn-floating m-2" href="https://github.com/Alustiza/DJANGO_Grupo14"
                role="button"><i class="fab fa-github"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock contenido %}
{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
{% endblock javascript %}


{% load static %}
<script type="text/javascript" src="{% static '/publica/js/mdb.min.js'%}"></script>