{% extends './base.html' %}

{% block titulo %} mate.AI - Registrarse {% endblock%}

{% block contenido %}
<section class="gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body pt-5 pb-4 text-center">
                        <h1>
                            {% load static %}
                            <img src="{% static './publica/img/logo-mateai.svg' %}" height="80" alt="mate.ai"
                                loading="lazy" />
                            </a>
                        </h1>
                        <h4 class="fw my-4"> Completa tus datos <br>para crear un nuevo usuario </h4>

                        <section class="py-5">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="{{form.username.auto_id}}" name="{{form.username.name}}"
                                        value="{{form.username.value | default:'' }}"
                                        class="form-control form-control-lg" />
                                    <label class="form-label text-white">{{form.username.label}}</label>
                                </div>
                                <div class="error" style="text-align: left; font-size: 0.9rem;">{{form.username.errors}}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="{{form.email.auto_id}}" name="{{form.email.name}}"
                                        value="{{form.email.value | default:'' }}"
                                        class="form-control form-control-lg" />
                                    <label class="form-label">{{form.email.label}}</label>
                                </div>
                                <div class="error" style="text-align: left; font-size: 0.9rem;">{{form.email.errors}}
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="{{form.password1.auto_id}}"
                                        name="{{form.password1.name}}" value="{{form.password1.value | default:'' }}"
                                        class="form-control form-control-lg" />
                                    <label class="form-label">{{form.password1.label}}</label>
                                </div>
                                <div class="error" style="text-align: left; font-size: 0.9rem;">
                                    {{form.password1.errors}}</div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="{{form.password2.auto_id}}"
                                        name="{{form.password2.name}}" value="{{form.password2.value | default:'' }}"
                                        class="form-control form-control-lg" />
                                    <label class="form-label">{{form.password2.label}}</label>
                                </div>
                                <div class="error" style="text-align: left; font-size: 0.9rem;">
                                    {{form.password2.errors}}</div>

                                <div>
                                    <input class="form-check-input" type="checkbox" id="aceptacion" name="aceptacion"
                                        required=True>
                                    <label for="aceptacion" class="form-label text-white mb-2">
                                        Acepto los términos y condiciones
                                    </label><br>
                                </div>

                                <button class="btn btn-outline-light btn-lg px-5 mt-5 btn-rounded text-uppercase"
                                    type="submit">Registrar</button>

                                <div class="pt-3">
                                    <a class="text-white" href="{% url 'index' %}">Si ya tienes una cuenta,
                                        inicia sesión.</a>
                                </div>

                            </form>



                        </section>

                        <div>
                            <a class="btn btn-outline-light btn-floating mb-3"
                                href="https://github.com/Alustiza/DJANGO_Grupo14" role="button">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>



                        {% comment %} <div class="text-center pt-4">
                            {{ copyright }}
                        </div> {% endcomment %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock contenido %}

{% block javascript %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
{% endblock javascript %}

{% load static %}
<script type="text/javascript" src="{% static '/publica/js/mdb.min.js'%}"></script>