<footer class="copyright-footer">
    <!-- Grid container -->
    <div >
        <!-- Section: Social media -->
        <section >
            <!-- Copyright -->
            <br>
            <p class="copyright-footer">© Grupo 14 - Comisión 23319 - Django Codo a Codo 2023</p>

         
            <a class="copyright-footer" href="https://github.com/Alustiza/DJANGO_Grupo14"
                target="blank" role="button">
                Repositorio en Github <i class="fab fa-github"></i></a>
                
                <p></p>
                <br>
        </section>
        <!-- Section: Social media -->
    </div>
</footer>