<navbar class="navbar navbar-expand-lg navbar-dark bg-custom">
    <!-- Container wrapper -->
    <div class="container-fluid" >
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar brand -->
            {% load static %}
      <img src="{% static '/chatbot/img/logo-mateai.svg' %}" class="logoNavBar" alt="mate.ai" loading="lazy">
        </div>

        {% if user.is_authenticated %}



        <div class="navbar-usrname">
            <b>Hola, {{user.username}}</b>
        </div>
        <!-- Avatar -->
        <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
                role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="60"
                    alt="Black and White Portrait of a Man" loading="lazy" />
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                <li>
                    <a class="dropdown-item" href="chatbot">Ir al Chat</a>
                </li>

                <li>
                    <a class="dropdown-item" href="profile">Editar perfil</a>
                </li>
             
                <li>
                    <a class="dropdown-item" href="logout">Cerrar sesión</a>
                </li>
            </ul>
        </div>

        {% else %}

        <div class="card-header bg-dark text-white"><a class="logoNavBar" href="login">Iniciar sesión</a>   <a class="logoNavBar" href="register">Registrate</a></div>
        {% endif %}

    </div>
</navbar>

