{% extends 'chatbot/base.html' %}
{% block title %}Hola {{user.username}} | Editá tu perfil{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'chatbot/css/profile.css' %}">
{% endblock %}



{% block content %}

{% block navbar %}
{% load static %}
{% include './navbar.html' %}
{% endblock navbar %}


<div class="chat-container">
  <div class="card flex-grow-1">
    


    <div class="card-body messages-box">
        <form id="profile_form" name="profile_form" action="{% url 'chatbot' %}" method="POST">
            {% csrf_token %}
            {{profile_form.as_table}}
        </form>
<br>
     <div>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>

  </div>


</div>


{% endblock %}



{% block scripts %}
{% comment %} JS para el pop up del perfil {% endcomment %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.2.0/mdb.min.js"></script>
{% endblock scripts%}